

.table_locations{
    margin-top:30px;
    margin-left: 50px;
    margin-right: 50px;
    
}

.table_radius{
    background: linear-gradient(121.32deg, #FFFFFF 10.96%, #FFFFFF 72%, #FFFFFF 99.98%);
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 28px;
    
}




.locations_table_header{
    font-family: 'Quicksand';
    font-size: 14px;
    line-height: 18px;
    color: #AEAEAE;

}



.locations_table_header th{
    font-style: normal;
    font-weight: 400;
    border-style: none;
}



tr:last-child td {
    border-style: none;
}

.table_row{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #404040;
}

.grey{
   color: #C7C7C7;
}

.usage_imgs{
    width: 66px;
    height: 66px;
}

.usage_column{
    text-align: right;
}