.form{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #C7C7C7;
}
.form-group{
    width: 70%;
    margin: 15px;
}

.logo_field{
    margin-top: 15px;
}

.logo_text{
    margin-right: 10px;
}

.date_section{
    margin-left: 15px;
    margin-bottom: 10px;
    color:#7393B3;
    font-style: italic;
}

.checkboxes_icon{
    margin-left: 15px;
}

.checkbox_design{
    margin-right: 10px;
    margin-left: 10px;
}

.loc-buttons{
    margin-left: 15%;
    margin-top: 30px;
    padding-bottom: 30px;
}

.add_button{
    margin-right: 5px;
}
