
<div class="parent">
    <div class="sidebar">

        <div class="logo">
            <a href="./"> <img src="../assets/sidebar/logo.svg" alt="cool_logo" class="cool_logo"> </a>
        </div>

        <div class="menu">
            <a href="/overview">
            <div class="overview_menu">
                 <img src="../assets/sidebar/sidebar_min_overview.svg" alt=""> 
                <h6>Overview</h6>
            </div>
            </a>
            
            <a href="/locations">
            <div class="locations_menu" >
                 <img src="../assets/sidebar/sidebar_locations_logo.svg" alt=""> 
                <h6>Locations</h6>
            </div>
            </a>
            
        </div>

        <div class="line">
        </div>
    </div> 













    <div class="container">
    
        <div class="header">
            <!-------------HEADER LOCATIONS--------------------------------------------------->
            <div class="header_locations" *ngIf="title=='locations'">
                <div class="header_title">
                    <div class="row">   
                        <div class="column">
                                Locations <a (click)="showAddLocation()"><img src="../assets/location/add.svg" alt="" id="header_plus_button"></a>
                                <p id="header_explanation">Overview of your locations, licences and products</p>   
                        </div>
                    </div>
                </div>

            

                    <div class="header_images">
                       
                           
                                <div class="column admin_box"> <img src="../assets/header/mail.svg" alt=""> </div>
                                <div class="column admin_box"> <img src="../assets/header/bell.svg" alt=""> </div>
                                <div class="column admin_box"> <img src="../assets/header/avatar.svg" alt="" id="admin_icon"> </div>
                                <div class="column admin_box admin_exp"> 
                                    <div class="row admin_name">Andrew</div>
                                    <div class="row admin_account">Admin account</div>
                                </div>
                           
                       
                    </div>
                
            </div>
            <!-------------------------------HEADER LOCATIONS SONU--------------->


            <!-----------------------------------------------------HEADER OVERVIEW ------------------>

            <div class="header_overview" *ngIf="title=='overview' || title==''">
                <div class="header_title">
                    <div class="row">   
                        <div class="column">
                                Overview 
                                <p id="header_explanation">Get summary of your recent usage & insights</p>   
                        </div>
                    </div>
                </div>

                    <div class="header_images">
                       
                           
                                <div class="column admin_box"> <img src="../assets/header/mail.svg" alt=""> </div>
                                <div class="column admin_box"> <img src="../assets/header/bell.svg" alt=""> </div>
                                <div class="column admin_box"> <img src="../assets/header/avatar.svg" alt="" id="admin_icon"> </div>
                                <div class="column admin_box admin_exp"> 
                                    <div class="row admin_name">Andrew</div>
                                    <div class="row admin_account">Admin account</div>
                                </div>
                           
                       
                    </div>
                
            </div>

        </div>



            <!------------
        <div class="content" *ngIf="overview">
            <app-overview></app-overview>
        </div>
        <div class="content" *ngIf="locations">
            <app-locations></app-locations>
        </div>
        ----------->

        <div class="content" >
            <router-outlet (activate)="setHeader()"></router-outlet>
        </div>


    </div>
    
</div>
    


